/* Style pour tous les éléments select */
select {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    color: #333;
    font-size: 16px;
    padding: 8px;
    width: 200px;
    border-radius: 4px;
    display: block;
  }
  
  /* Style pour la flèche du drop down */
  select::-ms-expand {
    display: none;
  }
  
  select::-webkit-select {
    display: none;
  }
  
  select::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #666;
  }
  
  /* Style pour le hover du drop down */
  select:hover {
    border-color: #aaa;
  }
  
  /* Style pour le focus du drop down */
  select:focus {
    border-color: #333;
    outline: none;
  }
  
  /* Style pour les options du drop down */
  option {
    background-color: #f7f7f7;
    color: #333;
  }
  
  /* Style pour le hover et la sélection des options du drop down */
  option:hover,
  option:selected {
    background-color: #0077c2;
    color: #fff;
  }

.select-group{
  display: inline-block;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  min-width: 200px;
}
.form{
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 20px auto;
  flex-wrap: wrap;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}


/* Style pour les éléments button */
button {
    background-color: #005ca9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Style pour le hover des éléments button */
  button:hover {
    background-color: #0b4b80;
  }
  
  /* Style pour le focus des éléments button */
  button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 119, 194, 0.4);
  }
  
#plot-btn{
    display: block; /* Le bouton sera affiché comme un élément de type bloc */
    margin: 10px auto; /* Centrage horizontal */
    text-align: center; /* Centrage vertical */
  
}

  .plot-handler {
    display: flex;
    justify-content: center;
    max-width:80% ;
  }
  
  .plot {
    border: 3px solid #333;
    max-width: 90%;
  }

  #loader {
    display: none;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
  }
  
  #loader img {
    display: block;
    margin: 0 auto;
  }
  

.error {
    display:none;
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 9999;
    background-color: #E22866;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    border-color: #6c0f2e;
    border-style: solid;
  }
  
  .error-message {
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    color: white;
  }
  
  .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -0.25em;
    margin-left: 0em;
    font-size: 2em;
    font-weight: bold;
    color: #6c0f2e;
    cursor: pointer;
    padding: 0;
  }
  
  .close-btn:hover {
    color: #444;
  }
  
  body {
    background-color: #F7F7F7;
    font-family: Arial, sans-serif;
  }
  #menu {
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 5%;
    position: flex;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-style: solid;
    border-width: 1px;
    border-color: #005ca9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    padding: 10px;
  }
  #menu a {
    color: #005ca9;
    background-color: #FFFFFF;
    font-size: 24px;
    text-decoration: none;
    margin:10px;
    border: 2px solid #005ca9;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }
  #menu a:hover {
    background-color: #005ca9;
    color: #FFFFFF;
  }
  h1 {
    text-align: center;
    margin-top: 1em;
    font-size: 2em;
    color: #005ca9;
  }
  p {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #666666;
  }
