#loader {
    display: none;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
  }
  
  #loader img {
    display: block;
    margin: 0 auto;
  }
  

.error {
    display:none;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    position: absolute;
    max-width: 20%;
    top: 0%;
    right: 1%;
  }
  
  .error-message {
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    
  }
  
  .close-btn {
    border-radius: 5px;
  }
  